# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

# Local configs
*.ini
